<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Now</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Check the Weather</h1>
    <form action="/" method="get">
        <input type="text" name="city" placeholder="Enter city" required>
        <button type="submit">Get Weather</button>
    </form>

    {% if weather %}
        <h2>Weather in {{ city }}</h2>
        <p><span class="label">Temperature:</span> <span class="value">{{ weather['current']['main']['temp'] }}°C</span></p>
        <p><span class="label">Description:</span> <span class="value">{{ weather['current']['weather'][0]['description'] }}</span></p>
        <p><span class="label">Humidity:</span> <span class="value">{{ weather['current']['main']['humidity'] }}%</span></p>
        <p><span class="label">Wind Speed:</span> <span class="value">{{ weather['current']['wind']['speed'] }} m/s</span></p>

        <h3>Hourly Forecast</h3>
        <table>
            {% for date, hours in grouped_weather.items() %}
            <tr>
                <th colspan="{{ hours|length }}">
                    <span class="weekday">
                        {% set day = date.split('-')[2] %}
                        {% set month = date.split('-')[1] %}
                        {% set year = date.split('-')[0] %}

                        {# Display "Today" for the first day, "Tomorrow" for the second day, and the actual weekday for the rest #}
                        {% if loop.index == 1 %}
                            Today
                        {% elif loop.index == 2 %}
                            Tomorrow
                        {% else %}
                            {% set day_num = date.split('-')|join('')|int %}
                            {% set weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %}
                            {{ weekdays[(day_num % 7)] }}
                        {% endif %}
                    </span>
                    <span class="date">{{ day }}/{{ month }}/{{ year }}</span>
                </th>
            </tr>
            <tr>
                {% for hour in hours %}
                <td>{{ hour['dt_txt'].split(' ')[1] }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for hour in hours %}
                <td>
                    {{ hour['main']['temp'] }}°C
                    <br>
                    <img src="{{ url_for('static', filename='icons/sunny.jpeg') }}" alt="Sunny" style="width: 30px; height: 30px;">
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <h1>Weather Report HeatMap</h1>

    <a href="{{ url_for('weather_map') }}">View Weather HeatMap</a>
</body>
</html>
